.fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(var(--color));
}

.inline {
    display: flex;
    align-items: center;
    justify-content: center;
}
