.searchForm {
    margin: 0.5rem 0.25rem 0;
    outline: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 7px;
}

.backToPlannerLink {
    display: block;
    text-align: left;
    margin: 0 0.5rem;
}

.formDivider {
    margin: 0.3rem 0;
    opacity: 0.6;
}

.subFormDivider {
    margin: 0.2rem 0;
    opacity: 0.25;
}

.clickableParamPanel {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    flex-wrap: wrap;
    padding: 0.5rem 0 0.3rem;
}

.clickableParam {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 0.9rem;
}

.infoIcon {
    width: 1rem;
    height: 1rem;
    display: none;
}

.quantPanel {
    display: inline-block;
}

.quantLabel {
    display: block;
}

.quantPanel label {
    font-size: 0.8rem;
}

.quantPanel input {
    padding: 0.2rem 0.4rem;
    width: 2.2em;
    margin: 0.1rem;
    margin-left: 0.2rem;
}

.toLabel {
    margin-left: 0.3rem;
}

.badge {
    display: flex;
    padding: 0.1rem 0.4rem;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.keywordContainer {
    padding: 0.4rem 0 0.3rem;
}

.keywordContainer input {
    margin-left: 0.4rem;
    padding: 0.15rem 0.3rem;
}

.searchToggle {
    padding: 0.3rem 0.6rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 0 7px 7px;
}

.expand {
    border-radius: 7px;
    margin-top: 0.5rem
}

.hide {
    display: inline-block;
    border-radius: 0 0 7px 7px;
}

.resultCard {
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 0.8rem;
    position: relative;
}

.resultCardLink {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.resultCardLink:visited,
.resultCardLink:hover,
.resultCardLink:active {
  color: inherit;
  text-decoration: none;
}

.cardHeader {
    display: flex;
    gap: 8%;
    padding: 1rem;
}

.cardPhoto {
    width: 40%;
    border-radius: 7px;
    object-fit: cover;
}

.cardMainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardTags {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.cardHealthLabels, .cardCautions {
    margin: 0;
    list-style: none;
    display: flex;
    flex: 1;
    gap:  0 0.8rem;
    flex-wrap: wrap;
    font-size: 0.85rem;
    padding: 0.1rem 1rem;
}

.cardHealthLabels {
    color: green;
    justify-content: flex-start;
}

.cardCautions {
    color: red;
    justify-content: flex-end;
}

.cardNutritionFacts {
    margin: 0;
    padding: 0.1rem 1.2rem 0.8rem 0;
    display: flex;
    gap: 0.8rem;
    font-size: 0.8rem;
}

.cardCaloriesAndServings {
    margin: 0;
    font-weight: bold;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.cardCalories > span {
    font-size: 1.1rem;
}

.cardNutrientList {
    margin: 0;
    padding: 0;
    width: 10rem;
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.cardNutrient {
    margin: 0;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}

.recipePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}

.pageTitle {
    margin: 0;
    font-size: 45px;
}

.pagePhoto {
    border-radius: 7px;
    margin: 0 0 1.2rem;
}

.recipePage h3 {
    margin: 1rem 0 0;
}

.ingredientList {
    list-style: none;
    margin: 0;
    padding-left: 1.3rem;
    text-indent:-1.3rem;
    text-align: left;
    width: 80%;
}

.pageCuisineAndDishTagContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.healthTag, .dietTag, .cuisineTag, .cautionTag, .dishTag {
    border: 1px solid black;
    border-radius: 17px;
    padding: 0.4rem 0.6rem;
    display: inline-block;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: center;
}

.nutritionContainer {
    margin: 1.1rem 0 0.7rem;
}
.pageCookTime {
    margin: 0.75rem 0 -0.4rem;
}

.sentinel {
    margin: 0;
    height: 1px;
}

button {
    margin: 0 1.5rem 0.25rem;
}

/* Hide spin buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}